html body{
	padding:0;
	margin:0;
	font-family: sans-serif;
	background-color: grey;
}
nav ul{
	margin:0;
	padding:0;
	list-style:none;
	white-space: nowrap;
}
nav .mainmenu>li{
	display: inline-block;
	width: 145.5px;
	padding:5px,5px,5px,5px;
}

nav .submenu>li{
	height: 30px;
	padding:5px,5px;
	margin:0;
}

nav a{
	text-decoration: none;
	background: brown;
	color:white;
	margin:0;
	padding:14px;
	text-align: left;
	position:relative;
	display:block;
	font-size:13px;
	height: 10px;

}
nav li>a:hover{
	background-color: black;
	cursor: pointer;
}

nav .submenu{
	display:none;
	position:absolute;
	padding:5px,5px,5px,5px;
}

nav .submenu li a{
	text-align: left;
	margin:5px,5px;
}

nav .submenu a{
	height: 30px;
}

nav .mainmenu >li:hover .submenu{
	background-color:grey;
	display:block;
	border-top: red 2px;
	border-radius: 60;
}