html body{
	padding:0;
	margin:0;
	font-family: sans-serif;
	background-color: lime;
	font:16px;
	padding: 8px;
}
nav ul{
	margin:0;
	padding:0;
	list-style:none;
	white-space: nowrap;
	text-align: center;
}
nav .mainmenu>li{
	display: inline-block;
	width: 160px;
	padding:5px,5px,5px,5px;
	align-self: center;
}

nav .submenu>li{
	height: 30px;
	padding:5px,5px;
	margin:0;
		padding:5px,5px,5px,5px;

}

nav a{
	text-decoration: none;
	background: brown;
	color:white;
	margin:0;
	padding:14px;
	text-align: left;
	position:relative;
	display:block;
	font-size:13px;
	font-weight: bolder;
	height: 10px;

}
nav li>a:hover{
	background-color: black;
	cursor: pointer;
	font-weight: bold;
}

nav .submenu{
	display:none;
	position:absolute;
	padding:5px,5px,5px,5px;
}

nav .submenu li a{
	text-align: left;
	margin:5px,5px;
}

nav .submenu a{
	height: 30px;
}

nav .mainmenu >li:hover .submenu{
	background-color:grey;
	display:block;
	border-top: red 2px;
	border-radius: 60;
}

div.box{
	text-align: center;
	margin-top:-50;
}

p {
	font-size: 22px;
	text-align: left;
	text-indent: 30px;
	line-height: 30px;
	font-family: Helvetica;
}

h2 {
	font-size: 22px;
}